<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Model1" connectionString="data source=DESKTOP-F4R8S6D\MSSQLSERVER01;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>StudentContextDB context = new StudentContextDB();
//1. l y t t c các sinh viên t b ng Student
List<Student> listStudent = context.Students.ToList(); 
//2. l c
Student db = context.Students.FirstOrDefault(p => p.StudentID == ID); 
ng sinh viên s vào database 
 Student s = new Student() { StudentID = "99", FullName = "test insert", AverageScore = 
100 };
context.Students.Add(s);
context.SaveChanges();
 //4. Update sinh viên -> l y item ra và c n update thu c tính nào thì set thu
 Student dbUpdate = context.Students.FirstOrDefault(p => p.StudentID == ID);
 if(dbUpdate!= null){
 dbUpdate.FullName = "Update FullName"; //.... 
 context.SaveChanges(); i
 }
update 
 Student dbDelete = context.Students.FirstOrDefault(p => p.StudentID == ID);
 if (dbDelete != null) {
42 BÀI 4: 
 context.Students.Remove(db);
 context.SaveChanges(); i
}
u s d ng using System.Data.Entity.Migrations; có th s
d thay th Add và Update t EntityFrameWork 
6.0.0.0
 context.Students.AddOrUpdate(s); //Add or Update sinh viên s
 context.SaveChanges();
